.grid {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-gap: 1rem;
	justify-content: center;
	justify-items: stretch;
}

@media screen and (max-width: 1000px) {
	.grid {
		grid-template-columns: 1fr;
	}
}
