.wrapper {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	min-width: 180px;
	background: white;
	border-radius: 5px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.25rem;
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 0.25rem;
	border-bottom: 1px solid rgba(51, 52, 53, 0.3);
}

.body {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 1rem 1.5rem 0.5rem 1.5rem;
}
