.navbar {
	min-height: 4.5rem;
}

.flex1 {
	flex: 1;
}

.total {
	margin: 0 1rem;
	font-size: 1.5rem;
}

.counter {
	position: absolute;
	top: -0.75rem;
	right: -0.75rem;
	font-size: 1.2rem;
	opacity: 0.8;
}

.relative {
	position: relative;
}
