.relative {
	position: relative;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.flex1 {
	flex: 1;
}

.sizeMd {
	font-size: 1.5rem;
}

.counter {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	font-size: 1.2rem;
	opacity: 0.8;
}

.marginSm {
	margin-right: 0.25rem;
}
