body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1 !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
	height: 9px;
	width: 9px;
}
::-webkit-scrollbar-track {
	border-radius: 6px;
	background-color: rgb(14, 43, 38, 0.4);
}
::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: rgba(255, 254, 214, 0.6);
}
