.buttonsCell {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 768px) {
	.codeTd {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.priceTd {
		display: none;
	}
}
